.container {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
}
.container > div:nth-child(2n-1) {
  margin-left: 50px;
  margin-right: 80px;
}
.container > div:nth-child(1) {
  margin-top: 20px;
}
.container > div:nth-child(2) {
  margin-top: 20px;
}
.docsItem {
  width: 550px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 50px;
  margin-bottom: 80px;
  cursor: pointer;
}
